h1 {
    background-color: rgba(227,178,97,255);
    color: rgb(255,255,255);
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.menu,
.sub-menu {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

.img {
    text-align: center;
}

h2 {
    background-color: rgba(227,178,97,255);
    color: rgb(255,255,255);;
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

p,
li {
    font-weight: 200;
    font-family: monospace;
    font-size: 17px;
}