* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    background-color: rgba(227,178,97,255);
    color: rgb(255,255,255);
    
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    
    padding: 5px;
    margin: 5px 5px 15px 5px;
}

.menu,
.sub-menu {
    text-align: center;
}

.menu li,
.sub-menu li {
    display: inline-block;
    font-family: monospace;
    font-size: 20px;

    padding: 5px;
    margin: 5px 5px 15px 5px;
    border: 3px solid rgba(227,178,97,255);
}

.sub-menu li {
    margin-top: 25px;
}


img {
    width: 300px;
    height: auto;
    display: block;
    margin: 5px auto 10px auto;
}


h2 {
    background-color: rgba(227,178,97,255);
    color: rgb(255,255,255);;
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

p,
li {
    font-weight: 200;
    font-family: monospace;
    font-size: 17px;
}